@import '@servicenow/sass-kit/host';

:host {
    display: block;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-top: 5px;
            //padding-bottom: 5px;
            display: flex;
            align-items: center;
        }

        li+li {
            margin-top: $now-global-space--sm;
        }
    }

    now-card {
        margin-bottom: 5px;
    }
}

.fullWidth {
    width: 95%;
}

.halfWidth {
  width: 50%;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.now-heading-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-top: 8px;
}

.checklist-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 13px;
  margin-top: 13px;
  //gap: 5px;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  //gap: 5px;
}

.pwc-pill {
  position: relative;
  display: flex;
  font-variant: normal;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-indent: 0px;
  text-shadow: none;
  white-space: normal;
  box-sizing: border-box;
}

.read-only-qs-container {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.li-read-only-qs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pwc-pill-button {
  height: 32px;
  border-radius: 16px;
  padding-inline: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin: 0px;
  border-width: var(--now-pill--border-width,var(--now-form-control--border-width,1px));
  border-style: solid;
  border-color: RGB(var(--now-pill--border-color,var(--now-color_border--secondary,var(--now-color--neutral-5,172,180,181))));
  padding-block: 0px;
  font-style: var(--now-pill--font-style,var(--now-form-control--font-style,normal));
  font-weight: var(--now-pill--font-weight,var(--now-form-control--font-weight,normal));
  font-family: var(--now-pill--font-family,var(--now-form-control--font-family,var(--now-font-family,"Source Sans Pro",Arial,sans-serif)));
  text-transform: var(--now-pill--text-transform,var(--now-form-control--text-transform,none));
  color: RGB(var(--now-pill--color,var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28))));
  background-color: RGB(var(--now-pill--background-color,var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255))));
}

.pwc-pill-button-label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.required-questions-card-container {
  display: flex;
  flex-direction: column;  
  padding: 0.5rem;
  gap: 5px;  
  max-width: 1280px;
}

.required-questions-card-title {
  padding-left: 5px;
}

.required-questions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.general-flex-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.attachment-flex-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pwc-state-info-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.pwc-label-size {
  font-size: .75rem;
}

.required-icon {    
}

.required-icon::after {  
  content: " *";
  color: red;
  font-size: large; 
}

.pwc-btn-container {    
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.pwc-alert-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.files-list {
  list-style-type: none;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}

.toRemoveFileLine {
  background-color: #BA2620;
  color: #fff;
  border: 1px solid #F1D4D2;
}

.toAddFileLine {
  background-color: #20ba8e;
  color: #fff;
  border: 1px solid #F1D4D2;
}

.fetchedFileLine {
  background-color: #9d9a9a;
  border: 1px solid #201e1e;
}

.fileLine {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 0.15rem;
  justify-content: space-between;
  align-items: center;
}

.fileInfo {
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 5px;
}

.fileActions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.illustation-text {
  text-align: center;
  font-weight: 550px;
  font-size: 12pt;
}


.file-upload-form {
  padding: 5px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-file-upload {
  display: none;
}


.file-upload-label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
  border-width: 2px;
  border-radius: 0.25rem;
  border-style: dashed;
  border-color: #000;
}

.drag-active {
  background-color: lightgray;
}

.input-file-upload-text {
  color: blue;
  font-weight: 600;
}

.input-file-upload-text:hover {
  text-decoration: underline;
}

.file-upload-section {
  display: flex;
  flex-direction: column;    
  //min-height: 30vh;
  width: 60%;
  gap: 2px;
}

.redTextColor {
  color: red;  
}

.pwc-now-card {
  max-width: 1280px;
  width: 100%;
  gap: 10px;
  padding: 0.5rem;
  background-color: #fff;
}

.line-container {
  width: 98%;
  justify-content: flex-start;
}

.line-container-end {
  margin-bottom: 5px;
}

.pwc-card-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pwc-card-header-title {
  padding-top: 10px;
}

.card-containers {
  display: flex;
  max-width: 1280px;
  //padding: 2rem 0;
  width: 100%;
  gap: 20px;
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.file-type-title {
  padding: 5px 0;
  font-style: italic;
}

.file-action-icon:hover {
  transform: scale(1.25);
  transition: all 0.5s linear;
}